<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Animal Shelter Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="/">Home</a>
            <a href="/volunteers">Volunteers</a>
            <a href="/doctors">Doctors</a>
            <a href="/health_records">Health Records</a>
        </div>
        <div class="nav-right">
            <a href="/add_animal_page">Add Animal</a>
        </div>
    </nav>

    <h2 style="text-align: center;">Animals</h2>
        <form action="{{ url_for('animals') }}" method="POST">
            <label for="search_id">Search by Animal ID:</label>
            <input class="input-searchbar" type="text" id="search_id" name="search_id" required>
            <button type="submit">Search</button>
        </form>
    <table style align="center" border="1">
        <tr>
            <th>Animal ID</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Breed</th>
            <th>Weight</th>
            <th>Actions</th>
        </tr>
        {% for animal in animals %}
        <tr>
            <td>{{ animal.animal_id }}</td>
            <td>{{ animal.age }}</td>
            <td>{{ animal.gender }}</td>
            <td>{{ animal.breed }}</td>
            <td>{{ animal.weight }}</td>
            <td>
                <a href="{{ url_for('modify_animal', animal_id=animal.animal_id) }}" class="button modify">Edit</a>
                <a href="{{ url_for('delete_animal', animal_id=animal.animal_id) }}" class="button delete"
                    onclick="return confirm('Are you sure you want to delete this animal?');">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>