<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volunteer Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="/animals">Animals</a>
            <a href="/volunteers">Volunteers</a>
            <a href="/doctors">Doctors</a>
            <a href="/health_records">Health Records</a>
        </div>
        <div class="nav-right">
            <a href="/add_volunteer">Add Volunteer</a>
        </div>
    </nav>

    <h2 style="text-align: center;">Volunteers</h2>
            <form action="{{ url_for('volunteers') }}" method="POST">
                <label for="search_id">Search by Animal ID:</label>
                <input class="input-searchbar" type="text" id="search_id" name="search_id" required>
                <button type="submit">Search</button>
            </form>

    <table align="center" border="1">
        <tr>
            <th>Volunteer ID</th>
            <th>Task</th>
            <th>Contact</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for volunteer in volunteers %}
        <tr>
            <td>{{ volunteer.volunteer_id }}</td>
            <td>{{ volunteer.task }}</td>
            <td>{{ volunteer.contact }}</td>
            <td>{{ volunteer.name }}</td>
            <td>
                <a href="{{ url_for('modify_volunteer', volunteer_id=volunteer.volunteer_id) }}" class="button modify">Edit</a>
                <a href="{{ url_for('delete_volunteer', volunteer_id=volunteer.volunteer_id) }}" class="button delete" onclick="return confirm('Are you sure you want to delete this volunteer?');">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
